
div.sgc-4 {!important; background-color: #4E9ABE; color: #fff;}
div.sgc-3 {!important; height: 150px; overflow: scroll; border-style: "solid 1px black";}
div.sgc-2 {!important; height: 150px; overflow: scroll; border-style: "solid 1px black";}
div.sgc-1 {important; background-color: #4E9ABE; color: #fff;}


